<div *ngIf="loader">
    <div class="splash-screen">
        <div class="splash-loader"></div>
    </div>
</div>
<div class="card">
    <p-tabView orientation="left">
        <p-tabPanel header="Payment Collection" leftIcon="pi pi-check">
            <div class="p-grid table-demo">
                <div class="p-col-12">
                    <div class="card">
                        <p-table #dtc [value]="data" dataKey="id" [rowHover]="true"
                            styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm"
                            [scrollable]="true" scrollHeight="600px" [filterDelay]="0"
                            [globalFilterFields]="['studentName','className']" [paginator]="true" [rows]="rows"
                            [showCurrentPageReport]="true" [(first)]="first"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col style="width:200px">
                                    <col style="width:150px">
                                    <col style="width:200px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="studentName">Student Name
                                        <p-sortIcon field="studentName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="className">Class-Section
                                        <p-sortIcon field="className"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="fatherName">Father Name
                                        <p-sortIcon field="fatherName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="motherName">Mother Name
                                        <p-sortIcon field="motherName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="fatherContact">Father Contact
                                        <p-sortIcon field="fatherContact"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="monthName">Month Name
                                        <p-sortIcon field="monthName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="receiptId">receiptId
                                        <p-sortIcon field="receiptId"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="paymentMode">Payment Mode
                                        <p-sortIcon field="paymentMode"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="totalAmount">Total Amount
                                        <p-sortIcon field="totalAmount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="discount">Discount
                                        <p-sortIcon field="discount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="netAmount">Net Amount
                                        <p-sortIcon field="netAmount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="paidAmount">Paid Amount
                                        <p-sortIcon field="paidAmount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="due">Due
                                        <p-sortIcon field="due"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="advance">Advance
                                        <p-sortIcon field="advance"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="receiptBy">Receipt By
                                        <p-sortIcon field="receiptBy"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-pending>
                                <tr [pSelectableRow]="pending">
                                    <td>
                                        <span class="p-column-title">Student Name</span>
                                        {{pending.studentName}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Class-Section</span>
                                        {{pending.className}}- {{pending.sectionName}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Father Name</span>
                                        {{pending.fatherName}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Mother Name</span>
                                        {{pending.motherName }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Father Contact</span>
                                        {{pending.fatherContact}}
                                    </td>

                                    <td>
                                        <span class="p-column-title">Month Name</span>
                                        {{pending.monthName}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Receipt Id</span>
                                        {{pending.receiptId}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Payment Mode</span>
                                        {{pending.paymentMode }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Total Amount</span>
                                        {{pending.totalAmount | currency:'INR' }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Discount</span>
                                        {{pending.discount | currency:'INR'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Net Amount</span>
                                        {{pending.netAmount | currency:'INR'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Paid Amount</span>
                                        {{pending.paidAmount | currency:'INR'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Due</span>
                                        {{pending.due | currency:'INR'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Advance</span>
                                        {{pending.advance | currency:'INR'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Receipt By</span>
                                        {{pending.receiptBy}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer" let-sale>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>{{totalDiscount | currency:'INR'}}</b></td>
                                    <td><b>{{totalNetAmount | currency:'INR'}}</b></td>
                                    <td><b>{{TotalPaidAmount | currency:'INR'}}</b></td>
                                    <td><b>{{TotalDueAmount | currency:'INR'}}</b></td>
                                    <td><b>{{TotalAdvance | currency:'INR'}}</b></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No customers found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Date Wise-Transaction Details" leftIcon="pi pi-user">
            <div class="p-grid table-demo">
                <div class="p-col-12">
                    <div class="card">
                        <p-table #dtc [value]="paymentByGroup.paymentByDate" dataKey="id" [rowHover]="true"
                            [style]="{width:'100%'}"
                            styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm"
                            [scrollable]="true" scrollHeight="600px" [filterDelay]="0"
                            [globalFilterFields]="['schoolCode','schoolName']" [paginator]="true" [rows]="rows"
                            [showCurrentPageReport]="true" [(first)]="first"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col style="width:200px">
                                    <col style="width:150px">
                                    <col style="width:200px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                    <col style="width:150px">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">Payment Date
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="count">Count
                                        <p-sortIcon field="count"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="sumTotalAmount">Amount
                                        <p-sortIcon field="sumTotalAmount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="sumDiscount">Discount
                                        <p-sortIcon field="sumDiscount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="sumNetAmount">Net Amount
                                        <p-sortIcon field="sumNetAmount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="sumPaidAmount">Paid Amount
                                        <p-sortIcon field="sumPaidAmount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="sumDue">Due Amount
                                        <p-sortIcon field="sumDue"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="sumAdvance">AdvanceAmount
                                        <p-sortIcon field="sumAdvance"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-payByGroup i=index>
                                <tr [pSelectableRow]="payByGroup">
                                    <td>
                                        <span class="p-column-title">Payment Date</span>
                                        {{payByGroup.name}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Count</span>
                                        {{payByGroup.count}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Amount</span>
                                        {{payByGroup.sumTotalAmount | currency:'INR'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Discount</span>
                                        {{payByGroup.sumDiscount | currency:'INR'}}
                                    </td>

                                    <td>
                                        <span class="p-column-title">NetAmount</span>
                                        {{payByGroup.sumNetAmount | currency:'INR'}}
                                    </td>

                                    <td>
                                        <span class="p-column-title">PaidAmount</span>
                                        {{payByGroup.sumPaidAmount | currency:'INR'}}
                                    </td>

                                    <td>
                                        <span class="p-column-title">PaidAmount</span>
                                        {{payByGroup.sumDue | currency:'INR'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">AdvanceAmount</span>
                                        {{payByGroup.sumAdvance | currency:'INR'}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer" let-sale>
                                <tr>
                                    <td></td>
                                    <td><b>{{totalCount}}</b></td>
                                    <td><b>{{totalAmount | currency:'INR'}}</b></td>
                                    <td><b>{{totalDiscount | currency:'INR'}}</b></td>
                                    <td><b>{{totalNetAmount | currency:'INR'}}</b></td>
                                    <td><b>{{TotalPaidAmount | currency:'INR'}}</b></td>
                                    <td><b>{{TotalDueAmount | currency:'INR'}}</b></td>
                                    <td><b>{{TotalAdvance | currency:'INR'}}</b></td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No customers found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </p-tabPanel>


    </p-tabView>
</div>