<p-toast></p-toast>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <p-panel header="Change User Password">
            <div class="p-fluid">
                <div class="p-field">
                    <div class="p-text-center">
                        <div class="p-text-bold p-text-info">User Name :   {{userName}}</div>
                    </div>
                </div>
                <div class="p-field">
                    <input  type="password" name="password" placeholder="Password" formControlName="password" pInputText>
                </div>
                <div class="p-field">
                    <input type="password" placeholder="Confirm Password" pInputText>
                </div>
                <div class="p-field">
                <span class="p-buttonset">
                    <button pButton pRipple type="submit" label="Change Password" class="p-mr-2 p-mb-2" icon="pi pi-check"></button>
                    <button pButton pRipple label="Delete" class="p-mr-2 p-mb-2" icon="pi pi-trash"></button>
                    <button pButton pRipple label="Cancel" class="p-mr-2 p-mb-2" icon="pi pi-times"></button>
                </span>
                </div>
            </div>
    </p-panel>
    </div>
</div>
</form>