<div class="p-grid financial-overview">
    <div class="p-col-12 p-md-12 p-lg-4 ">
        <div class="card">
            <h5>Accounts</h5>
            <div class="financial-overview-total">
                <span class="financial-overview-total-label">Grand Total</span>
                <span class="financial-overview-total-value">624,504.00</span>

                <div class="clearfix"></div>
            </div>

            <div class="panel-inner">
                <div class="financial-overview-line">
                    <div class="line-left">
                        <span class="line-icon">
                            <i class="pi pi-money-bill"></i>
                        </span>
                        <span class="line-label">Bank Accounts</span>
                    </div>

                    <div class="line-right">
                        <span class="line-value">$320,521.25</span>
                        <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="financial-overview-line">
                    <div class="line-left pull-left">
                        <span class="line-icon">
                            <i class="pi pi-briefcase"></i>
                        </span>
                        <span class="line-label">Savings</span>
                    </div>

                    <div class="line-right pull-right ">
                        <span class="line-value">$94,305.00</span>
                        <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="financial-overview-line">
                    <div class="line-left pull-left">
                        <span class="line-icon">
                            <i class="pi pi-globe"></i>
                        </span>
                        <span class="line-label">Stocks</span>
                    </div>

                    <div class="line-right pull-right ">
                        <span class="line-value">$5,000.00</span>
                        <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="financial-overview-line">
                    <div class="line-left pull-left">
                        <span class="line-icon">
                            <i class="pi pi-dollar"></i>
                        </span>
                        <span class="line-label">Profit</span>
                    </div>

                    <div class="line-right pull-right ">
                        <span class="line-value">$21.25</span>
                        <a href="#" class="line-caret"><i class="pi pi-angle-double-right"></i></a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>
