<div class="p-grid list-demo">
	<div class="p-col-12">
		<div class="card">
			<h5>Add Employee Photo</h5>
			<p-dataView #dv [value]="employeeList" [paginator]="true" [rows]="12" filterBy="firstName" layout="grid">
				<ng-template pTemplate="header">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
						<p-dropdown placeholder="Select Department" [options]="data" optionLabel="name" (onChange)="onSelectMasterdepartment($event)"
							styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
						<span class="p-input-icon-left p-mb-2 p-mb-md-0">
							<i class="pi pi-search"></i>
							<input type="search" pInputText placeholder="Search by Name"
								(input)="dv.filter($event.target.value)">
						</span>
						<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					</div>
				</ng-template>
				<ng-template let-product pTemplate="listItem">
					<div class="p-col-6">
						<div class="product-list-item">
							<img [src]="'assets/demo/images/studentImages/01-AADARSH KUMAR.jpg'" />
							<div class="product-list-detail">
								<div class="product-name">{{product.firstName}} {{product.middleName}}
									{{product.lastName}}</div>
								<div class="product-description">{{product.masterDepartmentName}}</div>
								<span class="product-category">{{product.employeeCode}}</span>
							</div>
							<div class="product-list-action">
								<span class="product-price">{{product.masterEmployeeName}}</span>
								<p-button icon="pi pi-camera" label="Add Photo"></p-button>
							</div>
						</div>
					</div>
				</ng-template>
				<ng-template let-product pTemplate="gridItem">
					<div class="p-col-12 p-md-2">
						<div class="product-grid-item card">
							<div class="product-grid-item-top">
								<div>
									<i class="pi pi-tag product-category-icon"></i>
									<span class="product-category">{{product.employeeCode}}</span>
								</div>

							</div>
							<div class="product-grid-item-content">
								<img [src]="'assets/demo/images/studentImages/01-AADARSH KUMAR.jpg'" />
								<div class="product-name">{{product.firstName}} {{product.middleName}}
									{{product.lastName}}</div>
								<div class="product-description">{{product.masterDepartmentName}}</div>

							</div>
							<div class="product-grid-item-bottom">
								<span class="product-price">{{product.masterEmployeeName}}</span>
								<p-button icon="pi pi-camera"></p-button>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>


</div>